

.logo{
  width: 5rem;
  height: 5rem;
}

.head-banner{
  position: relative;
  height: 40em;
}

.bg-primary-brown{
  background-color:rgb(220,107,35);
  display: flex;
  justify-content: center;
}

.bg-secondary-brown{
  background-color: rgb(158,71,23);
}